/* Header.css */
.header{
    height: 60px;
    background:#fff;
    margin-bottom: 20px;
}
.header header{
    width: 1200px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
}
.top-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 40px;
    float: left;
}
.header .top-font{
    color: red;
    font-size: 18px;
    margin-left: 100px;
    float: left;
}
.top-avatar{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 610px;
}
.top-admin{
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 250px;
}
#top-exit{
    position: absolute;
    top: 0;
    right: 150px;
    text-decoration: none;
}
#top-et{
    position: absolute;
    top: 0;
    right: 120px;
    color: #3f3d3d;
}
.header header a{
    font-size: 14px;
    color: red;
    position: absolute;
    top: 0;
    right: 80px;
    text-decoration: none;
}
