*{
    padding:0;
    margin:0;
}
ul,li,button{
    padding:0;
    margin:0;
    list-style:none;
}
button{
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    background-color: transparent;
}

/* -------------------My-------------------------- */
/* 个人信息 */
#my-info{
    height: 15em;
    width: 100%;
    position: relative;

}
.myifbg {
    width: 100%;
    height: 100%;
    z-index:1;
}
.portrait{
    position: absolute;
    left:1.5em;
    top: 5em;
    height: 5.5em;
    width: 5.5em;
    border-radius: 50%;
    z-index:2;
}
#my-info div{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.5em;
}
#my-info div ul li{
    height: 3.5em;
    width: 33.3%;
    float:left;
    background-color:white;
    text-align: center;
    border-right:1px solid lightgrey;

}
#my-info div ul li span{
    display: block;
}
/* 工具栏- */
 ul{
    margin-top:0.8em;
    background-color: #fff;
}
#my-tool ul li{
    height: 3em;
    width: 100%;
    padding:0.5em 1em 0.5em 0.8em;
    /* border-bottom-width:1em; */
    border-bottom:1px solid lightgrey;

}
#my-tool ul li i{
    float: right;
    color:grey;
    font-size:1.5em;
}

/* —————————————my-setting——————————————————*/
.my-set ul li{
    height: 2em;
    width: 100%;
    border-bottom:1px solid lightgray
}
.my-unlogin{
    height: 10em;
    width: 100%;
    text-align: center;
}
.my-unlogin button{
    margin-top: 2em;
    height: 3em;
    width: 12em;
    background-color: black;
    border-radius: 5%;
    color:white;
    font-size: 1em;
}
.set-btn{
    background-color: lightblue;
    width: 10%;
    height: 80%;
    text-align: center;
    border-radius: 20%;
    float: right;
}


/* ---------------------collection------------------------- */
.col-tab{
    height: 3em;
    line-height: 3em;

    width: 100%;
    font-size: 1.3em;
    text-align: center;
    color:white;
    background-color: black;
    position: relative;

}